

<form> 
  Time: <input ng-model="roundTime" type="number"/> 
  Interval: <input ng-model="intervalTime" type="number"/> 
  Rounds: <input ng-model="roundNumber" type="number"/> 
</form>

<form> 
  Time: {{getThisRoundTime()}}
  Interval: {{getThisIntervalTime()}}
  Rounds: {{getThisRoundNumber()}}
</form>


<button ng-click="startButtonPress()" ng-show="showStartButton">
Start
</button>

<button ng-click="pauseButtonPress()" ng-show="showPauseButton">
Pause
</button>
<button ng-click="restartButtonPress()" ng-show="showRestartButton">
Restart
</button>

<button ng-click="stopButtonPress()" ng-show="showStopButton">
Stop
</button>

<button ng-click="resetButtonPress()" ng-show="showResetButton">
Reset
</button>




<br/>

total = {{total()}}